.write-message {
  width: 100%;
  position: sticky;
  bottom: 0;
  z-index: 999;

  &__attach {position: absolute; top: 28px; left: 25px; cursor: pointer;}

  &__audio-message {position: absolute; top: 28px; left: 55px; cursor: pointer;}

  input.write-message__text-field {
    width: 100%;
    padding-top: 25px;
    padding-bottom: 30px;
    padding-left: 90px;
    border: 0;
    border-top: 2px solid rgba(0, 0, 0, .24);
  }

  &__emoji {position: absolute; right: 25px; top: 28px; cursor: pointer;}
}
