.channels {
  font-size: 12px;
  line-height: 14px;

  color: #919191;

  &__title {
    font-size: 12px;
    font-weight: bold;
    margin-left: -35px;
    margin-bottom: 15px;
    text-transform: uppercase;
  }

  &__count {
    margin-right: -20px;
  }

  ul {
    margin-left: 35px;
    overflow-y: scroll;
    height: 200px;
  }

  &__item {
    line-height: 17px;
    color: #b5b5b5;
    margin-top: 7px;
    font-size: 14px;
    cursor: pointer;
    padding-left: 15px;
    padding-top: 5px;
    padding-bottom: 10px;


    &:hover {
      width: 85%;
      background: rgba(255, 255, 255, .2);
      color: #fff;
      border-radius: 8px;
      font-weight: bold;
    }
  }
}
