<div class="channels d-flex flex-column">
  <div class="channels d-flex justify-content-around align-items-center">
    <div class="d-flex justify-content-around">
      <h2 class="channels__title">Channels</h2>
      <div class="channels__count">({{countChannels$ | async}})</div>
    </div>
    <button mat-icon-button (click)="createChannel()" aria-label="Example icon button with a vertical three dot icon">
      <mat-icon>add</mat-icon>
    </button>
  </div>
  <!--***************   список каналов  **********************-->

  <ul class="d-flex flex-column">
    <li
      [routerLink]="'channels/' + channel.id"
      class="channels__item"
      *ngFor="let channel of channels$ | async"
      (click)="showChannel(channel.id)"
    >
      {{'#' + channel.name}}
    </li>
  </ul>
</div>
<!--[ngClass]="'active' ? 'active-channel' : 'channels__item'"-->
<!--(click)="showChannel(channel.id)"  нужно записать в li-->
