<div class="channels d-flex flex-column">
  <div class="channels d-flex justify-content-around">
    <h2 class="channels__title">Channels</h2>
    <div class="channels__count"><span id="listChanels"></span></div>
  </div>
  <!--***************   список каналов  **********************-->
  <ul class="d-flex flex-column">
    <li
      class="channels__item"
      [routerLink]="channel.id"
      *ngFor="let channel of channels$ | async"
      id="{{channel.name}}"
      (click)="showChannel(channel.id)"
    >
      {{'#' + channel.name}}
    </li>
  </ul>
</div>
