<div class="write-message" id="form"  >
  <mat-spinner *ngIf="isLoading$ | async " mode="indeterminate" fxLayoutAlign="center center"></mat-spinner>
  <mat-icon alt="attach" class="write-message__attach">attach_file</mat-icon>

  <mat-icon alt="audio-message"
            class="write-message__audio-message">mic
  </mat-icon>
  <input set="apple" type="text" class="write-message__text-field" placeholder="Message in #{{ name$ | async}}"
         [(ngModel)]="fieldInput" (keydown.enter)="sendText()">

  <button class="write-message__emoji" (click)="isEmojiPickerVisible = !isEmojiPickerVisible;">
    <mat-icon>sentiment_satisfied_alt</mat-icon>
  </button>
  <emoji-mart   set="apple" class="emoji-mart write-message__emoji-mart" *ngIf="isEmojiPickerVisible" (emojiSelect)="addEmoji($event)"
              title="Choose your emoji"></emoji-mart>

</div>

