.signup-form {
  margin-top: 50px;
}
mat-form-field {
  width: 300px;
}
a {
  text-decoration: none;
  transition: .3s ease all;
  &:hover {
    color: darkorange;
  }
}



.progress {
  position: absolute;
  top: 0;
  left: 0;
}
