<div class="friends">
  <div class="friends d-flex justify-content-around">
    <h2 class="friends__title">friends</h2>
    <p class="friends__count"><span id="countFriends"></span></p>
  </div>
  <div class="friends__list" id="friends">
    <div *ngFor="let friend of friends$ | async">
      <div
        (click)="showUser(friend.id)"
        class="people  d-flex align-items-center"
        *ngIf="friend.friend"
      >
        <div class="people__status people__status--online"></div>
        <img class="people__photo" src="{{friend.photo}}" alt="{{friend.name}}">
        <div class="people__name">{{friend.name}}</div>
      </div>
    </div>
  </div>
</div>
