.input.write-message__text-field {
  width: 100%;
  padding-top: 25px;
  padding-bottom: 30px;
  padding-left: 90px;
  border: 0;
  border-top: 2px solid rgba(0, 0, 0, .24);
}
.emoji {position: absolute; right: 25px; top: 28px; cursor: pointer;}
