<section class="main-area">
  <div class="main-area__scroll" onscroll="onscroll" id="showScroll"></div>
<div class="top-menu d-flex align-items-center">
  <div *ngFor="let channel of nameChannels$ | async">
    <h1 class="top-menu__title" >#{{channel.name}}</h1>
  </div>

  <mat-icon  aria-label="Example home icon">star_outline</mat-icon>


    <div class="top-menu__count offset-7">
      <mat-icon class="icon-people">perm_identity</mat-icon>
      1,093
    </div>


  <app-search></app-search>
 <mat-icon class="top-menu__notifications">notifications</mat-icon>

  <button mat-icon-button [matMenuTriggerFor]="menu" class="top-menu__more" aria-label="Example icon-button with a menu">
    <mat-icon class="color-white">more_vert</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="deleteAllMessages()">
      <mat-icon>delete</mat-icon>
      <span>delete all message this channel</span>
    </button>

    <button mat-menu-item>
      <mat-icon>notifications_off</mat-icon>
      <span>mute messages this channel</span>
    </button>
  </mat-menu>

</div>
<app-messages-list></app-messages-list>
  <app-field-send-message></app-field-send-message>
</section>
