<div fxLayout="row" class="main">
  <app-services></app-services>
  <app-chat-sidebar class="m-0 p-0"></app-chat-sidebar>
<div [ngClass]="status ? 'col-xl-8 p-0 m-0' : 'p-0 m-0 residual-width'" >
    <router-outlet ></router-outlet>
  <button class="hide-user-btn" (click)="(status=!status) && (showThis = !showThis)"   *ngIf="showThis" color="primary" aria-label="Example icon button with a delete icon">
    <mat-icon class="hide-user-btn__icon">arrow_back_ios</mat-icon>
  </button>
  <button class="hide-user-btn" (click)="(status=!status) || (showThis = !showThis)"  color="primary" *ngIf="!showThis" aria-label="Example icon button with a delete icon">
    <mat-icon class="hide-user-btn__icon">arrow_forward_ios</mat-icon>
  </button>
</div>

  <app-user class=" p-0 m-0" *ngIf="!showThis"></app-user>
</div>



