<!--<button class="hide-user-btn" (click)="toggle()"   *ngIf="!showThis" color="primary" aria-label="Example icon button with a delete icon">-->
<!--  <mat-icon class="hide-user-btn__icon">arrow_back_ios</mat-icon>-->
<!--</button>-->
<!--<button class="hide-user-btn" (click)="toggle()"  color="primary" *ngIf="showThis" aria-label="Example icon button with a delete icon">-->
<!--  <mat-icon class="hide-user-btn__icon">arrow_forward_ios</mat-icon>-->
<!--</button>-->
<div class="infouser" id="infoUser" >

    <img src="../../assets/img/dest/info-column/girl.png" alt="photo" class="infouser__photo">
    <div class="info-column">
      <p class="info-column__name">Amilia Luna</p>
      <p class="info-column__profession">UI Designer</p>
      <ul class="social d-flex">
        <li class="social__item social__item--fb"></li>
        <li class="social__item social__item--tw"></li>
        <li class="social__item social__item--ins"></li>
        <li class="social__item social__item--in"></li>
      </ul>
      <div class="message d-flex align-items-center">
        <button class="message__btn">Message</button>
        <button mat-icon-button [matMenuTriggerFor]="menu" class="message__more"
                aria-label="Example icon-button with a menu">

        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item>
            <mat-icon>person_off</mat-icon>
            <span>delete the friend</span>
          </button>

          <button mat-menu-item>
            <mat-icon>person_add_alt</mat-icon>
            <span>add in Friends</span>
          </button>
        </mat-menu>
      </div>
      <div class="username">
        <p class="username__description">Username</p>
        <p class="username__title">@amilia_lu</p>
      </div>
      <div class="email">
        <p class="email__description">Email</p>
        <p class="email__title">a-luna@gmail.com</p>
      </div>
      <div class="skype">
        <p class="skype__description">Skype</p>
        <p class="skype__title">amiluna</p>
      </div>
      <div class="timezone">
        <p class="timezone__description">Timezone</p>
        <p class="timezone__time">2:21 PM Local time</p>
      </div>
    </div>
  </div>
