<div class="infouser" id="infoUser" *ngIf="user$ | async as user">

    <img src="{{user.photo}}" alt="photo" class="infouser__photo">
    <div class="info-column">
      <p class="info-column__name">{{user.name}}</p>
      <p class="info-column__profession">{{user.profession}}</p>
      <ul class="social d-flex">
        <li class="social__item social__item--fb"></li>
        <li class="social__item social__item--tw"></li>
        <li class="social__item social__item--ins"></li>
        <li class="social__item social__item--in"></li>
      </ul>
      <div class="message d-flex align-items-center">
        <button class="message__btn">Message</button>
        <button mat-icon-button [matMenuTriggerFor]="menu" class="message__more"
                aria-label="Example icon-button with a menu">

        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item>
            <mat-icon>person_off</mat-icon>
            <span>delete the friend</span>
          </button>

          <button mat-menu-item>
            <mat-icon>person_add_alt</mat-icon>
            <span>add in Friends</span>
          </button>
        </mat-menu>
      </div>
      <div class="username">
        <p class="username__description">Username</p>
        <p class="username__title">{{user.username}}</p>
      </div>
      <div class="email">
        <p class="email__description" *ngIf="user.email">Email</p>
        <p class="email__title">{{user.email}}</p>
      </div>
      <div class="skype">
        <p class="skype__description" *ngIf="user.skype">Skype</p>
        <p class="skype__title">{{user.skype}}</p>
      </div>
      <div class="timezone">
        <p class="timezone__description">Timezone</p>
        <p class="timezone__time">{{user.timezone}}</p>
      </div>
    </div>
  </div>
