<div class="line">
  <div class="line-date">Monday, October 22nd</div>
</div>
<div class="message">
  <img class="message__photo" src="../../../../assets/img/dest/main-menu/f1.png" alt="Jeshua Stout">
  <div class="text d-flex flex-column">
    <div class="d-flex mb-1">
      <p class="message__name">Jeshua Stout</p>
      <p class="message__time">6:38 PM</p>
    </div>

    <p class="message__text message__text&#45;&#45;answer">@pierrhack <a
      href="https://goingawesomeplaces.com/6-day-iceland-road-trip-itinerary/"
      target="_blank">I did for 6 days in
      Iceland</a></p>
  </div>
</div>

