<section class="list-of-participants" fxLayout="column">
  <div class="group-title">
    <h1 class="list-of-participants__title">Nomad List
      <mat-icon aria-label="Example home icon" class="white-icon-arrow">keyboard_arrow_down</mat-icon>
    </h1>

  </div>
  <div class="group-title">
    <div class="list-of-participants__themes">All treads
    </div>
    <mat-icon aria-label="Example home icon" class="white-icon-message">message</mat-icon>

  </div>

  <app-channels></app-channels>

  <app-friends></app-friends>

</section>


