.group-title {
  display: flex;
  align-content: center;
  align-items: center;
  position: relative;
}

.white-icon-arrow {
  color: white;
  position: absolute;
  right: -25px;
  font-size: 20px;
  cursor: pointer;
}

.white-icon-message {
  color: white;
  position: absolute;
  left: 27px;
  top: 30px;
  cursor: pointer;
  font-size: 15px;
}

